body
  padding: 10px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

nav.navbar
  margin-bottom: 1rem
  .nav-item, .navbar-toggler
    margin: .2rem .5rem .2rem 0

.list-group
  a.list-group-item
    cursor: pointer
    &:hover
      background: #f6f6f6
    &.checked
      background: #fed
  input.btn
    margin-top: 1rem

.qr.code img
  max-width: 100%

.graph
  >svg
    rect
      fill: #093
    rect:hover
      fill: #062
    text
      fill: white
      font: 1.2em sans-serif
      text-anchor: end
    text.label
      fill: black
      text-anchor: start
  >div
    background: #093
    color: #fff
    margin-bottom: .3rem
    padding: .5rem
    font-size: 2em
    overflow: hidden
    text-overflow: ellipsis

